In [ ]:
number = '15'
print('Type of number before int() function: ', type(number))
 
number = int(number)
 
print('Type of number after int() function: ', type(number))

In [1]:
def hello(name):
  print('Hello', name)

In [2]:
hello('Deniz')

Hello Deniz

In [3]:
def sum(number1, number2):
  print(number1 + number2)

In [4]:
sum(3, 5)

8

In [5]:
result = sum(3, 5)
print(result)

8
None

In [6]:
def sum(number1, number2):
  answer = number1 + number2
  return answer
 
result = sum(3, 5)
print(result)

8